beautifulsoup4==4.14.3
cx_Freeze==8.6.4
geocoder==1.38.1
geopy==2.4.1
googletrans==4.0.2
gtts==2.5.4
instaloader==4.15.1
keyboard==0.13.5
matplotlib==3.10.9
mediapipe==0.10.35
more_itertools==11.1.0
numpy==2.4.6
openai==2.40.0
phonenumbers==9.0.31
Pillow==12.2.0
pyautogui==0.9.54
PyDictionary==2.0.1
pyperclip==1.11.0
PyQt5==5.15.11
pyqt5_sip==12.18.0
pytesseract==0.3.13
pyttsx3==2.99
pytube==15.0.0
pywhatkit==5.4
pywikihow==0.5.7
Requests==2.34.2
speechrecognition==3.16.1
speedtest==0.0.1
wikipedia==1.4.0
win10toast==0.9
wolframalpha==5.1.3
